# Sever
PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=drena

# JWT
JWT_SECRET=muda_este_segredo_para_producao
JWT_EXPIRES_IN=1y

# Domain
APP_DOMAIN=localhost
APP_URL=http://localhost:3000
